/*GLOBAL CSS*/

#main_section{padding:80px 80px 0px 80px;}
#main_section ul{display:flex;justify-content: space-between;margin:0;padding:0;list-style: none;position:relative;}
#main_section ul li{position:relative;}
#main_section ul li div.caption{position: absolute;bottom: 24px;left:24px;}
#main_section ul#list_main_channels li{width:calc(50% - 0px);min-height: 600px;background-image: url(./images/generic.jpg);background-size: cover; background-repeat: no-repeat;background-position: center;}

/*TEMAS CAROUSEL*/
.temas_container_title{margin-top:60px;color:#fff;}
.tema_container div.theme_list_item{min-height: 300px;background-image: url(./images/generic.jpg);background-size: cover; background-repeat: no-repeat;background-position: center;position: relative;}
.tema_container div.theme_list_item div.caption{position: absolute;bottom: 24px; left:24px;}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1290px){
	#main_section ul#list_main_channels li{min-height:380px;}
	#main_section div#theme_list div.theme_list_item{min-height: 180px;}
}